.grid-cols-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 22rem));
    place-content: center;
}

.flip-container {
    perspective: 1000px;
}

.flip-container > .flip-target {
    transition-duration: 1s;
}

.flip-container {
    transition-duration: 1s;
}
.flip-container:hover {
    scale: 1.1;
    transition-duration: 1s;
}

.flip-container:hover > .flip-target {
    transform-style: preserve-3d;

    transform: translateY(-56%) rotateX(90deg);
    transition-duration: 1s;
}

.shimmer {
    background: linear-gradient(100deg, #e0e0e0 30%, #ffffff 50%, #e0e0e0 70%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease-in-out infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
