@import 'tailwindcss';

@theme {
    --color-primary: #fd5d69;
}

body {
    background-color: black;
    color: white;
}

body::before,
body::after {
    content: '';
    width: 100%;
    height: 35%;
    position: fixed;
    left: 0;
    z-index: -1;
}

body::before {
    top: 0;
    background: radial-gradient(ellipse at top, #fd5d6980, transparent 80%);
}

body::after {
    bottom: 0;
    background: radial-gradient(ellipse at bottom, #fd5d6980, transparent 80%);
}

.glassmorphic {
    backdrop-filter: blur(8px) contrast(1) saturate(1);
}

.grid-cols-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.flip-container {
    perspective: 1000px;
}

.flip-container > .flip-target {
    transition-duration: 1s;
}

.flip-container {
    transition-duration: 1s;
}
.flip-container:hover {
    scale: 1.1;
    transition-duration: 1s;
}

.flip-container:hover > .flip-target {
    transform-style: preserve-3d;

    transform: translateY(-62%) rotateX(90deg);
    transition-duration: 1s;
}
